
* {
   margin: 0px;
   padding: 0px;
   outline: none;
   text-decoration: none;
   list-style: none;
   border: 0px;
   font-family: helvetica neue, helvetica, sans-serif;
   font-smooth: always;
}

.slides {
   width: 600px;
   height: 300px;
   margin: 0px auto;
   overflow: hidden;
}

.slidesContainer {
   width: 1800px; 
   -webkit-animation: slide 8s ease infinite;
}

.slides .slide {
   width: 600px;
   height: 300px;
   float: left;
}

.slides div:nth-of-type(1) {
   background: #ff8330; 
}

.slides div:nth-of-type(2) {
   background: #30ff83; 
}

.slides div:nth-of-type(3) {
  background: url(img/1.jpg); 
}

@-webkit-keyframes slide {
  15% {margin-left: 0px;}
  30% {margin-left: 0px;}
  45% {margin-left: -600px;}
  60% {margin-left: -600px;}
  75% {margin-left: -1200px;}
  90% {margin-left: -1200px;}
  100% {margin-left: 0px;}
}

#separacion{
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.1em;
    position: relative;
}
