html, login{
    background: url('../img/loginbg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;  
    background-size: cover;
}

/*Absolute Center for the JQery Loader*/
.center{ 
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto; 
}
 

.icon{
    position: absolute !important;
    top: 5% !important; 

}

.title{
    position: absolute !important;
    top: 25% !important;
    left: 0;
    right: 0;
    margin: 0 auto; 
    color: white;
    font-size: 40px;
    font-weight: 500;

}

.form_box{ 
    margin-top: 65% !important; 
    background:rgba(255, 255, 255, 0.80);
    padding-top: 5px
}

.message{
    position: absolute !important;
    bottom:0 !important;
    left: 0;
    right: 0;
    margin: 0 auto; 
    color: white;
    font-size: 20px;
    padding: 25px;
    text-align: center;
    background-color: rgba(255, 0, 0, .6);
}

.center-login{
    position: absolute !important;
    top: 80% !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 500;
}

#loader{
    z-index: 800
}

/*Set the panels and fade out animation*/
#panel{
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 500;
  width: 100%;
}


.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media only screen and (min-width: 601px){
    .container {
        width: 85%;
    }
}
@media only screen and (min-width: 993px){
    .container {
        width: 70%;
    }
}

.savecard {
    top: 15px;
    width: 60%; 
    padding: 20px;
    background-color: #F3958B;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
}