    #card1 {
        width: 100%;
        height: 100%;
    }
    #card2 {
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }

    #card3 {
        width: 100%;
        height: 100%;
        margin-top: 2%;
    }

    #card4 {
        width: 100%;
        height: 100%;
        margin-top: 2%;

    }