body {
    font-family: "Lato ", sans-serif;
    background-color: #f6f6f6;
}

.tabs .indicator {
    background-color: #26a69a;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background-color: transparent;
    color: #26a69a;
}

.tabs .tab a {
    color: #6e7f80;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #6e7f80;
    display: block;
    transition: 0.3s
}

.sidenav b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #6e7f80;
    display: block;
    transition: 0.3s
}

.sidenav c {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #6e7f80;
    display: block;
    transition: 0.3s
}

#ruta {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #6e7f80
}

#icon_color {
    color: #26a69a;
}

.sidenav a:hover,
.offcanvas a:focus {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.row .col.s12 
{
    background-color: #ffb0a8;
}
.row .col.s3 
{
    background-color: #ffb0a8;
}
#top_text
{
    color: white;
    font-size: .9em;
}
#card_left
{
    width: 26%;
    height: 100%;
    margin-top: 5%;
	background: #EBCAEF;
    display: inline-block;
}
#card_right
{
    width: 70%;
    height: 100%;
    margin-top: 5%;
    margin-left: -1.5%;
    zoom: 40%;
    z-index: -5;
    position:relative;
	background: url("../img/back.jpg");
    opacity: 0.8;
    display: inline-block;
    vertical-align:top;
}
#card_right .text_card
{
    zoom: 500% !important;
    z-index: 5;
    position: absolute;
    height: 100%;
    width: 100%;
}
.layer {
    background-color: #8348AF;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#banner {
    width: 70%;
    height: 100%;
    margin-top: 5%;
    margin-left: -1.5%;
    z-index: -5;
    position:relative;
    opacity: 0.8;
    display: inline-block;
    vertical-align:top;
}
/*Absolute Center for the JQery Loader*/
.center{
    position: absolute !important;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
}

/*Menu Profile Color and fixes for the look*/
.menu-header{
    background: #df7d73;
    padding-bottom: 10px !important;
}
.menu{
    background-color: #f28a7f !important;
} 
.right{
    text-align: right;
}

.sendRight{
    float: right;
}
.sendLeft{
    float: left;
}

ul.menu>li>a{
    color: white;
    font-size: 1.5em;
}
/*Custom Divider for the menu*/
.divider{
    height: 1px;
    overflow: hidden; 
    width: 90% !important;
    vertical-align: middle !important;
    margin-left: 5% !important;
    background-color: #CEB0AB !important;
} 
.spacer{
    min-height: 50px;
}

.name{
    color: #696969 !important;
    font-size: 20px !important;
    padding-top: 20px;
}

.circle{ 
    border: 2px solid #CEB0AB !important;
}

.faqItem{
    padding-bottom: 40px !important;
    padding-top: 20px !important;
    color: #1e1e1e !important;
}

.faqItem:hover{
    color: #CEB0AB !important;
    background:#580186 !important;
}
.faq-data{
    color: #1e1e1e !important;
    background: white !important;
}
/*End of the Menu Fixes*/ 

.navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100% !important;
    z-index: 100;
    background: #F3958B !important;
    color: white !important; 
}


span.name > a {
    text-decoration: none;
    color: inherit;
}
/*Title bar and nav var General*/
.spacer-top{
    padding-top: 50px !important; 
} 

/*Question page containers*/
.questionHeader{
    min-height: 100px !important;
    height: auto;
    background: #8546AE;
    color: #FFFFFF;
    font-size: 18px;
    padding-bottom: 20px !important;
}
.questbody{  
    position: relative; 
    min-height: 60%;
    padding-bottom: 100px !important;
}
.questionFooter{
    min-height: 50px !important;
    height: auto;
    background: #E0E0E0;
    color: #1e1e1e;
    font-size: 16px; 
    text-align: center;
}

.btn-gray{
    color:#1e1e1e !important;
    background: #E0E0E0 !important; 
    padding: 0 55px !important;
    border-radius: 15px !important;
}
.btn-purple{
    color:#FFFFFF !important;
    background: #e19087 !important;
    padding: 0 55px !important;
    border-radius: 15px !important;
}

.footer{
    width: 100%;
    margin-bottom: 0 !important;
    position: fixed;
    bottom: 0;
}

/* Account page css*/
/*Profile Image Fix*/
.circle{
    margin-top: 20px;
    width: 50%; 
    height: auto;
}

/*Seatings Spacer and modifys*/
.nomargins{
    margin: 0 !important;
}
.SetItems{
    padding-bottom: 20px !important;
    padding-top: 20px !important;
}
.gray-spacer{ 
    background-color: #E0E0E0 !important;
}

.lever-custom{
    background-color: #ffa99f !important;
}
.lever-custom:after{
    background-color: #df7d73 !important;
} 
.lever-custom1{
    background-color: #ff96e0 !important;
}
.lever-custom1:after{
    background-color: #e568c0 !important;
} 
/*profile items*/
.profile{
    background-color: #F3958B !important;
    color: white !important;
    border-bottom: 1px solid gray !important;
}
body{
    height: 100%;
    background: white;
}
.collection-Noborder{
    border: none !important;
}
.purplebg{
    background: #F3958B !important;
}
.whitebg{
    background: #FFFFFF !important;
}
#ButtonEnter
{
    margin-left: 25%;
    margin-top: 5%;
    width: 50%;
    height: 20%;
    background-color: #8447AE;
    border-radius: 5px !important;
}

/*History Card*/ 
.GoLeft{ 
    width:100%;
    height: 200px !important
}  
#map {
height: 500px;
}
.map_footer{
    height: 80px;
    background: #E0E0E0;
    margin-bottom: 25px;
}
.detalles_footer{
    height: 80px;
    background: #FFFFFF;
    margin-bottom: 5px;
}
.hist-date{
    float: left; 
    margin-left: 10px; 
    padding-top: 15px;
    font-weight: bold;
    color: #000000;
}
.hist-store{
    float: left;  
    margin-left: 10px; 
    color: #e58176;
    font-weight: bold;
}
.hist-cash{
    float: right;
    margin-right: 10px;
    padding-top: 15px;
    font-weight: bold;
    color: #000000;
}
.hist-method{
    float: right;
    margin-right: 10px;
    color: gray;
    font-weight: bold; 
} 
.purple-dot{
    color: #e7756a;
    margin-right: 5px;
    margin-top: 10px;
}
.gotTroubles{
    background: #E0E0E0;
    color: #8447AE;
    height: 50px;
    padding-left: 25px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
} 
/* SUBMENU */
.section-title{
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    width: 100%;
    position: absolute;  
}
.image-section { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.no-paddings{
    padding: 0 !important;   
    max-height: 149px !important;
}

h2 span { 
   color: white;   
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}.

/* Tienda */
#tienda_top{ 
    color: black;
}
#top_text_tienda{
    background-color: white;
    font-size: 1.5em;
    font-family: Arial;
}
#top_text_tienda{
list-style-type: none;
}  

.modal-modif{
    float: none !important;
    color: #E0E0E0 !important;
    font-size: 20px !important;
}
 
.card-data{
    background-color: #E0E0E0 !important;
    color: #1e1e1e;
}
.crecard {
    float: right;
    margin-right: 6px;
    margin-top: -50px;
    position: relative;
    z-index: 2;
    font-size: 20px !important;
    color: white;
}
.card-wrapper{
    background-color: #ffb0a8 !important;
    padding-top: 5px;
    padding-bottom: 25px;
}
.jp-card-container {
    
    height: 180px !important;
}

.savecard{
    width:100%; 
    position: absolute; 
    bottom: 0; 
    padding: 20px;
    background-color: #F3958B;
    border: none;
    color: white;
    font-size: 18px;
}
/* CARRUSEL */
.video-thumbs-frame {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	width: 100%;
	height: auto;
	overflow: hidden !important;
	-webkit-perspective: 250px;
	perspective: 250px;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.nav-arrows {
	position: absolute;
	width: 480px;
	margin: 0 auto;
	left: 0;
	right: 0;
	margin-top: 200px;
	z-index: 0;
}

.nav-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.prev-button {
	float: left;
}

.next-button {
	float: right;
}

.video-thumbs {
	position: relative;
	display: block;
	width: 1260px;
	height: 335px;
	margin-top: 25px;
	z-index: 300;
	transform: translateX(0);
	transform-style: preserve-3d;
	transition: all 0.2s ease-out;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumbs.position-1 {
	transform: translateX(0);
	transition: all 0.2s ease-out;
}

.video-thumbs.position-2 {
	transform: translateX(-300px);
	transition: all 0.2s ease-out;
}

.video-thumbs.position-3 {
	transform: translateX(-600px);
	transition: all 0.2s ease-out;
}

.video-thumbs.position-4 {
	transform: translateX(-900px);
	transition: all 0.2s ease-out;
}

.video-thumb {
	position: relative;
	display: inline-block;
	float: left;
	background: #fff;
	width: 260px;
	height: 260px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	border-radius: 2px;
	box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25);
	transform: translateZ(-50px);
	transform-style: preserve-3d;
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
	transition: all 0.2s ease-out;
	z-index: 10;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumb:nth-child(2n+1) {
	margin-left: 20px;
	margin-right: 20px;
}

.video-thumb.thumb-1 {
	margin-left: calc((375px - 260px)/2);
}

.video-thumb:hover {
	box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
	transition: all 0.2s ease-out;
}

.video-thumb.active {
	transform: translateZ(0);
	transform-style: preserve-3d;
	transition: all 0.2s ease-out;
	z-index: 50;
	-webkit-filter: brightness(1);
	filter: brightness(1);
}

.video-thumb.clone {
	position: absolute;
	z-index: 0;
}

.video-thumb.first-clone {
	position: absolute;
	left: 0;
	margin-left: calc(1260px - 3.5px);
	z-index: 0;
}

.video-thumb.last-clone {
	position: absolute;
	left: 0;
	margin-left: calc(-242.5px);
	z-index: 0;
}

.video-thumb-wrapper {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 2px;
	overflow: hidden !important;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 154px;
	overflow: hidden !important;
	cursor: pointer;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumb-img {
	display: block;
	height: 254px;
	width: auto;
	transform: translateX(-38.5px) translateY(-40px);
	-webkit-user-select: none !important;
	user-select: none !important;
}

.thumbnail-filter {}

.thumbnail-overlay {
	position: absolute;
	z-index: 501;
	width: 100%;
	height: 100%;
	background-color: #1deaa9;
	opacity: 0.1;
	-webkit-mix-blend-mode: lighten;
	mix-blend-mode: lighten;
		-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumb-overlay {
	position: absolute;
	display: block;
	top: 0;
	width: 75px;
	height: 75px;
	z-index: 20;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 79px;
	transform: translateY(-50%);
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-play-icon {
	position: relative;
	width: 75px;
	height: auto;
	z-index: 501;
	cursor: pointer;
}

.video-info-container {
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	height: 86px;
	padding-left: 20px;
	color: #555;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.video-thumb-title {
	font-size: 1.25em;
	font-weight: 500;
	line-height: 1.25em;
	cursor: pointer;
}

.video-thumb-subtitle {
	font-size: 0.85em;
	font-weight: 300;
	color: #a8a8a8;
}

.video-stats {
	padding-top: 9px;
	font-size: 0.7em;
	font-weight: 400;
	color: #c8c8c8;
}

.stats-item {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}

.item-views,
.item-likes {
	-webkit-user-select: none;
	user-select: none;
}

.stats-icon {
	width: 11px;
	height: auto;
	transform: translateY(-1px);
}
#mensaje{
    background: #ca7eff;
}

/* CARD */
.card
{
  background-color:#ffffff;
  margin:5px; 
  width: 95%;
  height:25em;
  position: relative;
  box-shadow:1px 1px 5px #333333;
  border-radius: 2px;
  overflow: hidden;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.card_after
{
  bottom: 0;
  right: 0;
  top: 70px;
  left: 0;
  margin: 0;
  position:absolute;
  width:100%;
  background-color:#ffffff;
  box-shadow:1px 1px 5px #333333;
  border-radius: 2px;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.nav_bar
{
  background-color:#00897b;
  box-shadow:1px 1px 5px #333333;
  height: 70px;
  position: absolute;
  z-index: 1;
  text-align: left;
  top: 0px;
  width: 100%;
  line-height: 70px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Roboto';
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.menu_btn
{
  cursor: pointer;
  left:0px;
  margin-top: 16px;
  padding-left: 10px;
}
.pics_card
{
  display:block;
  background-size: cover;
  height: 15em;
  position: relative;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.pics_card_after
{
  display:block;
  background-size: cover;
  position: relative;
  height : 30%;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in;
}
.txt_titre_card
{
  position:absolute;
  bottom:5px;
  left:5px;
  font-size:22px;
  color:#ffffff;
  font-family: 'Roboto';
  font-weight: 300;
  text-align:left;
}
.txt_titre_card_after
{
  font-size: 52px;
  position:absolute;
  bottom:5px;
  left:5px;
  color:#ffffff;
  font-family: 'Roboto';
  font-weight: 300;
  text-align:left;
}
.txt_desciption_card
{
  padding: 15px;
  font-size:17px;
  color:#999999;
  font-family: 'Roboto';
  font-weight: 400;
}
.txt_desciption_card_after
{
  font-size: 20px;
  padding: 20px;
  color:#999999;
  font-family: 'Roboto';
  font-weight: 400;
}
.tool_link
{
  display: inline-block;
  padding:0px 10px 0px 10px;
  text-align: center;
  font-size:17px;
  font-family: 'Roboto';
  font-weight: 500;
  cursor: pointer;
}
