div.stars { 
  width: 100% !important; 
  display: inline-block !important; 
} 
input.star { display: none !important; } 
label.star { 
  float: right !important; 
  padding: 10px; 
  font-size: 36px; 
  color: #444; 
  transition: all .2s; 
} 
input.star:checked ~ label.star:before { 
  content: '\f005'; 
  color: #FD4; 
  transition: all .25s; 
} 
input.star-5:checked ~ label.star:before { 
  color: #FE7; 
  text-shadow: 0 0 20px #952; 
} 
input.star-1:checked ~ label.star:before { color: #F62; } 
label.star:hover { transform: rotate(-15deg) scale(1.3); } 
label.star:before { 
  content: '\f006'; 
  font-family: FontAwesome; 
}
